.header {
    .group-one{
        display: flex;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
        .header-logo{
            width: 138px;
            height: 40px;
        }
    }
    .welcome-group{
        z-index: 2;
        position: absolute;
        top: 460px;
        left: 360px;
        color: $white-text;
        .general-h1{
            width: 695px;
        }
        p{
            width: 207px;
        }
    }
    .img-container{
        height: 850px;
        width: 1920px;
        position: relative;
        top: 0;
        left: -360px;
        background: #000;
        .overlay{
            object-fit: cover;
            opacity: 0.45;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
@media(max-width: $laptop-max) {
    .header {
    .welcome-group{
        top: 259px;
        left: 100px;
    }
    .img-container{
        height: 531px;
        width: 1200px;
        left: -100px;
    }
    }
}
@media(max-width: $phone-max){
    .header {
        .welcome-group{
            top: 188px;
            left: 15px;
            p{
                width: 219.81px;
                height: 22px;
            }
        }
        .img-container{
            height: 340px;
            width: 768px;
            top: 0;
            left: -15px;
        }
      }
}