.header {
    .group-one{
        display: flex;
        padding: 20px 0;
        align-items: center;
        justify-content: space-between;
        .header-logo{
            width: 138px;
            height: 40px;
        }
    }
}

