.section-one{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    .general-h2{
        margin-bottom: 0;
    }
    .blue-btn{
        margin-bottom: 30px;
    }
    .scooters-container{
        @include two-column-section;
    }
}
@media(max-width: $phone-max) {
    .section-one{
        gap: 0;
        .general-h2{
            margin-bottom: 10px;
        }
        .download-p{
          margin-bottom: 15px;
        }
        .scooters-container{
           gap: 0;
           flex-direction: column;
          .traffic-img{
            display: block;
            width: 738px;
            height: 738px;
            margin-bottom: 20px;
          }
          .orange-h2{
            margin-bottom: 20px;
          }
        }
    }
}